.listGroup {
  border-radius: 12px;
  box-shadow: 0 2px 14px #c8d1e669;
  background: #fff;
}

.item {
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  color: #3399cc;
  border-radius: 8px !important;
  margin-bottom: 3px;
  transition: background 0.13s, color 0.13s;
  border: none;
}

.active {
  background: #3399cc !important;
  color: #fff !important;
}

.reset {
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px !important;
  margin-bottom: 5px;
  background: #e9ecef !important;
  color: #555 !important;
  font-weight: 600;
  border: none;
  transition: background 0.13s, color 0.13s;
}

.reset:hover {
  background: #3399cc !important;
  color: #fff !important;
}
